{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'cookbook/css/style.css' %}" />
<body style="background-image: url('{% static "cookbook/img/bg0.jpg" %}')";>
    <div class="bg-overlay">
        <div class="wrapper">
            <div class="header">
                <a href="{% url 'users:login' %}">LOG IN</a>
                <a class="padding-right-sm" href="">hi</a>
                <a class="padding-right-sm" href="">hello</a>
                <a href="">bye</a>
            </div>
            <div class="main">
                <div id="name"> MISE </div>
                <div id="slogan"> ITERATIVE RECIPE DEVELOPMENT </div>
            </div>
        </div>
    </div>
</body>
