{% extends 'cookbook/base.html' %}

{% block header %}
  <h2>{{ recipe }}</h2>
{% endblock header %}

{% block content %}

  <p>
    <a href="{% url 'cookbook:new_note' recipe.id %}">add new note</a>
  </p>

  {% for note in notes %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ note.date_added|date:'M d, Y H:i' }}
          <small>
            <a href="{% url 'cookbook:edit_note' note.id %}">
              edit note
            </a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ note.text|linebreaks }}
      </div>
    </div> <!-- panel -->

  {% empty %}
      There are no entries for this post yet.
  {% endfor %}

{% endblock content %}
