body{
    background-color: #000;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-overlay {
    background-color: rgba(34,28,28,.9);
    width: 100vw;
    height: 100vh;
}

.wrapper {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(40, 1fr);
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height:100%;
}

.header{
    grid-column: 5/9;
    grid-row: 2;
    font-size: 11px;
    letter-spacing: .3em;
    text-align: center;
    line-height: 1.5em;
    font-weight: 300px;
}
.header a{
    padding-left: 11px;
    padding-right: 11px;
}
.header a:link, a:visited{
    color: rgba(140, 140, 140, 0.7);
    text-decoration: none;
}
.header a:hover{
    color: white;
}

.main{
    grid-column: 5/9;
    grid-row: 19;
    text-align: center;

}
#name{
    font-size: 150;
    color: #FFF;
    font-weight: 100;
}
#slogan{
    font-size: 23;
    color: rgb(231, 189, 116);
    letter-spacing: 3px;
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/cookbook/fonts/Lato-Hairline.ttf');
}
